body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-image: url(../img/fundo.png);
    
}
main{
    text-align: center;
    background-color: rgb(253, 253, 81);
    width: 50%;
    box-shadow:20px 20px 10px rgb(33, 36, 34);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section > img{
    position: absolute;
    right: 400px;
    top: 160px;
    border-radius: 10px;
    
}